html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#header {
    padding: 18px;
    display: flex;
    align-items: center;
}

#header h1 {
    flex-grow: 1;
}

#header .filter-container,
#header .sort-container {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    gap: 8px;
}

.products-container {
    padding: 20px 50px;
    display:flex;
    flex-wrap: wrap;
}

.products-container .card {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    margin: 0 18px 0 0;
}

.products-container .card img {
    width: 200px;
    height: auto;
}

.products-container .card .card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}